<header class="c-page__header">
  <div class="profile-wrapper">
    <!-- <img src="{{ 'assets/fonts/images/avatar-adarsh.png' | relative_url }}" alt="Adarsh Karayathingal" class="profile-img" /> -->
    <img src="{{ 'assets/images/adarsh-profile.jpeg' | relative_url }}" alt="Adarsh Karayathingal" class="profile-img" />
  </div>
  <h1><code>{{ site.title}}</code></h1>
  <p>
    <a href="{{ "/" | prepend: site.baseurl }}">Home</a>
    <span class="u-separate"></span> <a href="{{ "/projects/" | prepend:site.baseurl }}">Projects</a>
    <span class="u-separate"></span> <a href="{{ "/publications/" | prepend: site.baseurl }}">Publications</a>
    <span class="u-separate"></span> <a href="{{ "/about/" | prepend: site.baseurl }}">About</a>
    <!-- <span class="u-separate"></span><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a> -->
  </p>
  {% if page.title == 'Home' %}
  <h1>{{ site.description }}</h1>
  {% endif %}
</header>
